
@{
    ViewBag.Title = "Index";
    @model FizzBuzz_App.Models.fizzbuzzer
    { Html.BeginForm("/Index", "Fizzbuzzer", FormMethod.Post); }
}


@*<style>
    body {
        background-color: lightblue;
    }
</style>*@

<div class="form-group" align="center">
    <h1>FizzBuzz Web App</h1>
    <label for="FirstNumber">Enter first number</label>
    <input type="text" class="form-control" id="FirstNumber" name="FirstNumber" value=" @Model.FirstNumber" />

    <label for="FirstNumber">Enter Second Number</label>
    <input type="text" class="form-control" id="SecondNumber" name="SecondNumber" value=" @Model.SecondNumber" />

    <button type="submit" class="btn btn-info" id="print" name="calculate">Calculate</button>

    <h3>Results</h3>
    <p>@Model.Result</p>
</div>








